POSTGRES_DB=rpgtrade
POSTGRES_USER=rpgtrade_user
POSTGRES_PASSWORD=change-me

API_CONNECTION_STRING=Host=postgres;Port=5432;Database=rpgtrade;Username=rpgtrade_user;Password=change-me
WEB_API_BASE_URL=http://api:8080/