<div class="modifier-row">
    <p>@Name</p>
    <input type="number" placeholder="min" name="minimum" @bind="Minimum" />
    <input type="number" placeholder="max" name="maximum" @bind="Maximum" />
</div>

@code {
    [Parameter] public int ModifierDefinitionId { get; set; }
    [Parameter] public string Name { get; set; } = string.Empty;
    public int? Minimum { get; set; }
    public int? Maximum { get; set; }
}
