@using RpgTrade.Web.Models

<div class="modifier-row">
    <button @onclick="RemoveModifier">remove modifier</button>
    <p>@Filter.Name</p>
    <input type="number" placeholder="min" name="minimum" @bind="Filter.Min" />
    <input type="number" placeholder="max" name="maximum" @bind="Filter.Max" />
</div>

@code {
    [Parameter] public required ItemModifierFilter Filter { get; set; }
    [Parameter] public required EventCallback<ItemModifierFilter> OnRemoveModifier { get; set; }

    private async Task RemoveModifier()
    {
        await OnRemoveModifier.InvokeAsync(Filter);
    }
}
